body {
    background-color: rgb(229, 247, 247);
    margin: 0;
    align-items: center;
    justify-content: center;
}

#main-grid {
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: repeat(20, 1fr);
    /* width: 90%; */
    height: 500px;
    /* width: 500px; */
    justify-content: center;
    align-items: center;
}

.grid-item {
    border: 0.8px solid black;
    /* margin: 0; */
    /* padding: 2px; */
    text-align: center;
}