{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block message %}
  {% with message = get_flahed_messages() %}
    {% if message %}
      {% for message in messages %}
        {% set display = slice(message, "1:") %}
        {% set prefix = slice[0] %}
        {% if prefix == "1" %}
          <div class="alert alert-secondary" role="alert">
            {{ display }}
          </div>
        {% else %}
          <div class="alert alert-danger" role="alert">
            {{ display }}
          </div>
        {% endif %}
      {% endfor %}
    {% endif %}
  {% endwith %}
{% endblock %}

{% block content %}

<link rel="stylesheet" href="./loginStyles.css" />
